@model ZYW.Model.SysXCode

@{
    Layout = "~/Areas/Main/Views/Shared/MainAreaLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.SysXCode</legend>

        @Html.HiddenFor(model => model.XID)

        <div class="editor-label">
            @Html.LabelFor(model => model.XCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XCode)
            @Html.ValidationMessageFor(model => model.XCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XName)
            @Html.ValidationMessageFor(model => model.XName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XOrderNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XOrderNumber)
            @Html.ValidationMessageFor(model => model.XOrderNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XParentID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XParentID)
            @Html.ValidationMessageFor(model => model.XParentID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XDepth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XDepth)
            @Html.ValidationMessageFor(model => model.XDepth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XSource)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XSource)
            @Html.ValidationMessageFor(model => model.XSource)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XFlag)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XFlag)
            @Html.ValidationMessageFor(model => model.XFlag)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.XRemark)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.XRemark)
            @Html.ValidationMessageFor(model => model.XRemark)
        </div>

        <p>
            <input type="submit" value="@ViewBag.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink((string)ViewBag.BackToList, "Index")
</div>

