@model IEnumerable<ZYW.Model.TestModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            testName
        </th>
        <th>
            testDesc
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.testID }) |
            @Html.ActionLink("Details", "Details", new { id=item.testID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.testID })
        </td>
        <td>
            @item.testName
        </td>
        <td>
            @item.testDesc
        </td>
    </tr>
}

</table>

